body {
    background: rgb(255,255,255);
    /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(128,234,255,1) 52%, rgba(252,252,252,1) 100%); */
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(128,234,255,1) 15%, rgba(128,234,255,1) 85%, rgba(252,252,252,1) 100%);    font-weight: 500; */
    
}

#employment_link {
    color: inherit;
    text-decoration: inherit;
}
.banner1{
    width:100%;
    height:600px;
    border-bottom:3px solid #1e1e1e;
    background-image: url('/images/2017-10-16 101226.jpg');
    background-size:100%;
    background-position: 50% 70%;
}
.banner2{
    width:100%;
    height:600px;
    border-bottom:3px solid #1e1e1e;
    background-image: url('/images/Jy2CbUrPRq9V7pnErm0HshZGY2xZvZjGyireknsl.jpeg');
    background-size: 100%;
    background-position: 50% 70%;
}
.banner3{
    width:100%;
    height:600px;
    border-bottom:3px solid #1e1e1e;
    background-image: url('/images/Pool-1-scaled.jpg');
    background-size: 100%;
    background-position: 50% 30%;
}
.size-div{
    margin-right:auto;
    margin-left:auto;
    width:80%;
}
.container{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.nav-bar{
    font-family: 'Patua One', cursive;
    font-weight: 300;
    margin-bottom:100px;
    height:120px;
    background-color:#1e1e1e;
    color:black;
    display:flex;
    align-items: center;
    font-size:35px;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
    padding-bottom:10px;
}
.nav-button{
    display:flex;
    align-items: center;
    margin-right:5px;
    margin-left:5px;
    height:40px;
}
.nav-button p{
    background: -webkit-linear-gradient(#eee, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:40px;
}
.nav-button:hover{
    cursor:pointer;
    border-bottom:1px solid red;
}
.nav-list {
    width:90%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
#circle-logo{
    display:block;
    z-index: 1;
    max-height:250px;
    border:5px solid red;
    height:250px;
    border-radius: 50%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(140,236,255,1) 46%, rgba(128,234,255,1) 52%, rgba(252,252,252,1) 100%);
    display:flex;
    align-items: center;
    justify-content: center;
}
#nav-logo{
    height:200px;
    /* width:400px; */
}
.logo {
    height:350px;
    width:350px;
}
.event-container{
    /* display:none; */
    margin-left:auto;
    margin-right:auto;
}

.first-footer{
    border-top:3px solid red;
    border-bottom:3px solid #b6ffff;
    height:250px;
    background-color:#1E1E1E;
    display:flex;
    align-items: center;
}
.first-footer-container{
    margin-left:auto;
    margin-right:auto;
    width:80%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
#pLogo {
    height:90px;
    width:auto;
}
#rdLogo{
    height: 100px;
    width:auto;
}


footer {
    height:200px;
    background-color:#0094ba;
    color:white;
    font-size:22px;
    /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(128,234,255,1) 52%, rgba(252,252,252,1) 100%); */
}
.footer-container{
    height: 100%;
    display:flex;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    justify-content: space-around;
    align-items: center;
    color:black;
    text-align: center;
}
.footer-container h1{
    font-size:35px;
    margin-bottom:15px;
    border-bottom:2px solid black;
    /* font-weight:00; */
    padding-bottom:8px;
}
.content-container{
    margin-left:auto;
    margin-right:auto;
    width:90%;
    margin-bottom:100px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4); */
}
#menu-header-container{
    background-color: #1E1E1E;
    font-size:40px;
    font-weight: 600;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:30px;
}
#menu-header{
    display:flex;
    font-family: 'Patua One', cursive;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size:50px;
    font-weight: 300;
    background: -webkit-linear-gradient(#eee, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top:10px;
    padding-bottom:10px;
}
#menu-header img{
    width:300px;
}
.menu-row{
    display:flex;
    font-size:25px;
    line-height: 1.5;
    width:75%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    align-items: center;
}
.menu-row p{
    padding-left:10px;
    padding-right:10px;
}
.menu-row img{
    width:350px;
    padding-left:10px;
    padding-right:10px;
}
.redheads-row {
    width:80%;
    border-top:3px solid #1E1E1E;
    border-bottom:3px solid #1E1E1E;
    padding-top: 20px;
    padding-bottom:20px;
}
.menu-container{
    background: rgb(255,95,95);
    background: linear-gradient(0deg, rgba(255,95,95,0.4150035014005602) 0%, rgba(255,255,255,1) 100%);
    padding-bottom:20px;
}
.home-container{
}

.home-first-row{
    border-top:2px solid gray;
    border-bottom:2px solid gray;
    padding-top:20px;
    padding-bottom:20px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.top-nav{
    background-color:#1e1e1e;
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.top-nav-container{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
}
.top-nav-right{
    display:flex;
    align-items: center;
}
.top-nav-left{
    display:flex;
    font-size:25px;
    padding-left:150px;
}
.top-left-button{
    font-family: sans-serif;
    color:white;
    padding-right:15px;
    padding-left:15px;
    color:white;
    font-size:18px;
    border-right:1px solid grey;
    display:flex;
    align-items: center;
}
.top-logo{
    z-index:1;
    border:2px solid grey;
    display:block;
    max-height:300px;
    background-color:#1e1e1e;
    padding-top:90px;
    /* padding-right:10px; */
    padding-left:20px;
    padding-bottom:15px;
    border-bottom-left-radius: 110px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 110px;
    /* max-height:200px; */
}

.top-button{
    font-family: sans-serif;
    color:white;
    padding-right:10px;
    padding-left:10px;
    color:gray;
    font-size:18px;
    border-left:1px solid grey;
}
.top-button a{
    text-decoration: none;
    color:#F5F5F5;    
}
.top-button a:hover{
    color:lightgrey;
}
#milemarker {
    color:red;
    font-size:22px;
    font-weight:500;
    padding-right:5px;
}
#milemarker-div{
    display:flex;   
    align-items: baseline;
}
.top-nav-left, .top-nav-right{
    height:25px;
}
.home-img-container{
    position:relative;
    width:100%;
    height:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    margin-bottom:20px;
}
.home-img-container img{
    width:100%;
    height:100%;
}

.img-banner{
    z-index:1;
    position:absolute;
    bottom:0%;
    width:100%;
    height:60px;
    font-size:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    /* border:2px solid blue; */
    background-color: rgba(30,30,30, 0.8)
}
.home-content-box {
    width: 350px;
    display: flex;
    flex-direction: column;
    font-size:22px;
    text-align:center;
}