
body {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(128,234,255,1) 15%, rgba(128,234,255,1) 85%, rgba(252,252,252,1) 100%);    font-weight: 500; */   
}
#employment_link {
    color: inherit;
    text-decoration: inherit;
}
.banner1{
    width:100%;
    height:600px;
    border-bottom:3px solid #1e1e1e;
    background-image: url('../images/banner1rh.jpg');
    background-size:100%;
    background-position: 50% 70%;
}
.banner2{
    width:100%;
    height:600px;
    border-bottom:3px solid #1e1e1e;
    background-image: url('../images/banner2.jpeg');
    background-size: 100%;
    background-position: 50% 70%;
}
.banner3{
    width:100%;
    height:600px;
    border-bottom:3px solid #1e1e1e;
    background-image: url('../images/banner3.jpg');
    background-size: 100%;
    background-position: 50% 30%;
}
.size-div{
    margin-right:auto;
    margin-left:auto;
    width:80%;
}
.container{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.nav-bar{
    font-weight: 300;
    margin-bottom:100px;
    height:120px;
    background-color:#1e1e1e;
    color:black;
    display:flex;
    align-items: center;
    font-size:35px;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
    padding-bottom:10px;
}
.nav-button{
    display:flex;
    align-items: center;
    margin-right:5px;
    margin-left:5px;
    height:40px;
    
}

.nav-button p{
    background: -webkit-linear-gradient(#eee, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:40px;
    font-family: 'minya_nouvelleregular',sans-serif;
    padding-bottom:8px;
    position: relative;
}
.nav-button p::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top: 100%;
    left: 0;
    background: #ff3030;
    transition: transform .2s;
    transform: scaleX(0);
    transform-origin: center;
}
.nav-button p:hover {
    cursor:pointer;
    color: #95a5a6;
}
.nav-button p:hover::after{
    transform: scaleX(1);
    transform-origin: center;
}
#nav-home{
    border-bottom:4px solid #ff3030;
}
.nav-list {
    width:90%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
#circle-logo{
    display:block;
    z-index: 1;
    max-height:250px;
    border:5px solid #ff3030;
    height:250px;
    border-radius: 50%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(140,236,255,1) 46%, rgba(128,234,255,1) 52%, rgba(252,252,252,1) 100%);
    display:flex;
    align-items: center;
    justify-content: center;
}
#nav-logo{
    height:200px;
    /* width:400px; */
}
.logo {
    height:350px;
    width:350px;
}
.event-container{
    /* display:none; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    margin-left:auto;
    margin-right:auto;
}

.first-footer{
    border-top:3px solid red;
    border-bottom:3px solid #b6ffff;
    height:250px;
    background-color:#1E1E1E;
    display:flex;
    align-items: center;
}
.first-footer-container{
    margin-left:auto;
    margin-right:auto;
    width:80%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
#pLogo {
    height:90px;
    width:auto;
}
#rdLogo{
    height: 100px;
    width:auto;
}


footer {
    height:200px;
    background: rgb(255,255,255);
    /* background: linear-gradient(90deg, rgba(209,76,76,1) 0%, rgba(30,30,30,1) 66%); */
    background:#353535;
    font-size:22px;
}
.footer-container{
    height: 100%;
    display:flex;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    justify-content: space-around;
    align-items: center;
    color:white;
    font-family:sans-serif;
    text-align: center;
}
.footer-container h1{
    font-size:25px;
    margin-bottom:10px;
    width:70%;
    border-bottom:1px solid white;
    /* font-weight:00; */
    padding-bottom:8px;
}
#footer-links{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.content-container{
    margin-left:auto;
    margin-right:auto;
    width:90%;
    margin-bottom:100px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4); */
}
.footer-links-social{
    margin-top:5px;
    margin-bottom:5px;
    display:flex;
    align-items: flex-start;
}
#socials{
    padding-right:20px;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}
#menu-header-container{
    background-color: #1E1E1E;
    font-size:40px;
    font-weight: 600;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: space-around;
    margin-bottom:30px;
    width:100%;
}

.menu-header{
    position: relative;
    /* width:100%; */
    display:flex;
    font-family: 'minya_nouvelleregular',sans-serif;
    align-items: center;
    justify-content:center;
    font-size:50px;
    font-weight: 300;
    background: -webkit-linear-gradient(#eee, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin-bottom:20px; */
}


.menu-container{

}
.menu-display-container{
    background:#464646;
    padding-bottom:20px;
}
.home-first-row{
    font-family:'minya_nouvelleregular',sans-serif;
    border-top:3px solid #1e1e1e;
    border-bottom:3px solid #1e1e1e;
    padding-top:20px;
    padding-bottom:20px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.top-nav{
    background-color:#1e1e1e;
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.top-nav-container{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
}
.top-nav-right{
    display:flex;
    align-items: center;
}
.top-nav-left{
    display:flex;
    font-size:25px;
    padding-left:150px;
}
.top-left-button{
    font-family: sans-serif;
    color:white;
    padding-right:15px;
    padding-left:15px;
    color:white;
    font-size:18px;
    border-right:1px solid grey;
    display:flex;
    align-items: center;
}
.top-left-button i{
    color:gray;
    padding-right:0px !important;
    margin-right:0px !important;
    border:none !important;
}
.top-logo{
    z-index:1;
    border:2px solid grey;
    display:block;
    max-height:300px;
    background-color:#1e1e1e;
    padding-top:90px;
    /* padding-right:10px; */
    padding-left:20px;
    padding-bottom:15px;
    border-bottom-left-radius: 110px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 110px;
    /* max-height:200px; */
}

.top-button{
    font-family: sans-serif;
    color:white;
    padding-right:10px;
    padding-left:10px;
    color:gray;
    font-size:18px;
    border-left:1px solid grey;
}
.top-button a{
    text-decoration: none;
    color:#F5F5F5;    
}
.top-button a:hover{
    color:lightgrey;
}
#milemarker {
    color:red;
    font-size:22px;
    font-weight:500;
    padding-right:5px;
}
#milemarker-div{
    display:flex;   
    align-items: baseline;
}
.top-nav-left, .top-nav-right{
    height:25px;
}
.home-img-container{
    position:relative;
    width:100%;
    height:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    margin-bottom:20px;
    font-family: sans-serif;
}
.home-img-container img{
    width:350px;
    height:250px;
}

.img-banner{
    z-index:1;
    position:absolute;
    bottom:0%;
    width:100%;
    height:60px;
    font-size:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family:'minya_nouvelleregular',sans-serif;
    /* border:2px solid blue; */
    background-color: rgba(30,30,30, 0.9)
}
.home-content-box {
    width: 350px;
    display: flex;
    flex-direction: column;
    font-size:22px;
    text-align:center;
}

.grand-opening-container{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    background-color:#1E1E1E;
    text-align: center;
    margin-bottom:40px;
    height:150px;
    display: flex;
    font-size:60px;
    align-items: center;
    justify-content: center;
    font-family: 'minya_nouvelleregular',sans-serif;
}
.grand-opening-container p{
    background: -webkit-linear-gradient(#eee, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-second-row{
    margin-top:20px;
    display:flex;
    height:500px;
    /* border:2px solid gray; */
    background-image: url('../images/img_4182-2.jpg');
    background-size:150%;
    background-position: 50% 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);

}
.second-row-left{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
}
.second-row-left img{
    width:400px;
    /* height:350px; */
    display:flex;
    padding-right:20px;
    /* border-right:2px solid red; */
}
.second-row-right{
    margin-left:auto;
    margin-right:auto;
    width:50%;
    font-family: sans-serif;
    font-size:22px;
    color:white;
    border:2px solid white;
    border-radius: 10px;
    /* height:350px; */
    padding:45px 30px 45px 30px;
    background-color: rgba(30,30,30,.9)
}
.second-row-right h1{
    font-family:'minya_nouvelleregular',sans-serif;
    text-align: center;
    margin-bottom:10px;
    font-size:28px;
    padding-bottom:30px;
    border-bottom:1px solid white;
}
.second-row-right p{
    font-size:18px;
}
.transparent-background{
    /* border:2px solid yellow; */
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
.second-row-box{
    margin-top:20px;
    justify-content: space-around;
    display:flex;
    padding-bottom:20px;
    border-bottom:1px solid white;
}
.left p, .right p{
    padding-top:5px;
    padding-bottom:5px;
}
.twentyone{
    color:red !important;
}
.second-row-box2{
    margin-top:20px;
    text-align: center;
}
.second-row-box2 p{
    padding-bottom:10px;
    padding-top:10px;
}
.footer-links-social a{
    width:100%;
    text-align: left;
    text-decoration: none;
    font-size:18px;
    padding:5px 10px;
}
i {
    padding-right:10px;
    margin-right:10px;
    border-right:1px solid white;
}
.facebook{
    background: #3b5998;
    color:white;
}
.fa-facebook-f, .fa-twitter,.fa-tripadvisor{
    width:18px;
}
.facebook:hover{
    background: #5772AC;
    color:white;
}

/* .facebook:hover i{
    border-right:1px solid #3b5998;
} */
.twitter{
    background-color:#1C9CEA;
    color:white;
}
.twitter:hover{
    background:#7CC0F4;
    color:white;
}
/* .twitter:hover i{
    border-right:1px solid #55ACEE;
} */
.tripadvisor{
    background-color:#00A680;
    color:black;
}

.tripadvisor:hover{
    background-color:rgb(91, 173, 154);
}
#footer-hours p,#footer-address p{
    text-align: left;
    padding-top:5px;
    padding-bottom:5px;
    font-size:16px;
}
#footer-twenty{
    font-size:22px;
    color:red;
}
#careers{
    text-decoration: none;
    color:white;
    text-align: center;
}
#careers:hover{
    color:gray;
}
.footer-sister-links{
    text-align: left;
    font-size:16px;
    padding-top:5px;
    padding-bottom:5px;
}
.footer-sister-links a{
    text-decoration: none;
    color:white;
}
.footer-sister-links a:hover{
    color:gray;
}

.footer-lady img{
height:150px;
}
.food,.drink{
    cursor:pointer;
}

#foodheader,#drinkheader{
    padding-bottom:5px;
    margin-top:20px;
    margin-bottom:20px;
}
#foodheader{
    border-bottom:4px solid #ff3030;
}
#drinkheader{
    border-bottom:4px solid #1E1E1E;
}
.menu-content{
    margin-bottom:20px;
}
.food-content{
    width:90%;
    display:flex;
    margin-right:auto;
    margin-left:auto;
    background-color: white;
    border:2px solid white;
}
.food-categories{
    height:500px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'minya_nouvelleregular',sans-serif;
    width:120px;
}
.food-categories h1{
    background-color:white;
    padding-top:25px;
    padding-bottom:25px;
    padding-left:10px;
    font-size:28px;
    border-bottom:2px solid black;
    border-right:2px solid black;
}
.food-categories h1:hover{
    cursor:pointer;
    color:white;
    background-color:#ff3030;
}
#burgers {
    color:white;
    background-color:#ff3030;
}
.food-display-container{
    height:100%;
    width:90%;
}
.food-display{
    width:80%;
    background-color: white;
}
.menu-section{
    font-family: 'minya_nouvelleregular',sans-serif;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:40px;
    background:white;
    height:80px;
    border-bottom: 2px solid #1E1E1E;
}
#top-category{
    padding:0px 0px 0px 0px ;
    height:80px;
}
.food-name{
    font-family: 'minya_nouvelleregular',sans-serif;
    padding-top:10px;
    text-align: center;
    padding-bottom:10px;
    font-size:22px;
    font-weight: 600;
    border-bottom:1px solid black;
}
.food-description{
    padding-top:5px;
    padding-left:10px;
    padding-bottom:20px;
    font-size:16px;
}
#price{
    padding-left:15px;
    font-size:18px;
    font-weight: bold;
}
.left-food,.right-food{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.burgers-menu{
    display:flex;
    height: 100%;
    background-color:white;
}

.redheads-row {
    background-image: url('../images/133a5710.jpg');
    background-size:130%;
    background-position: 10% 45%;
    border-radius: 25px;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height:400px; */
    margin-top:20px;
    /* border-top:3px solid red; */
    margin-bottom:20px;
    color:white;

    font-family: 'minya_nouvelleregular',sans-serif;
    font-size:30px;
}
.transparent-container{
    border:2px solid #283234;
    border-radius: 25px;
    background:rgba(0,0,0,.8);
    width:100%;
    height:100%;
}
.redheads-header{
    width:100%;
    padding-top:30px;
    padding-bottom:20px;
    display:flex;
    font-size:40px;
    align-items: center;
    justify-content: center;
    margin-bottom:40px;
    border-bottom:1px solid white;

}
.redheads-header img{
    padding-right:100px;
}

.redheads-ad{
    display:flex;
}
#more{
    width:100%;
}
.redheads-header h1{
    text-align: center;
    margin-bottom:10px;
    padding-bottom:10px;
    
}
.redheads-header{
    border-bottom:1px solid white;
}
.redheads-content{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom:30px;
}
.redhead-content-container{
    position: relative;
    width:300px;
    height:200px;
    border:2px solid white;
    border-radius: 10px;
}
.red-img1{
    background-image: url('../images/2017-10-16 103644-u167432-fr.jpg');
    background-size:120%;
    background-position: 30% 70%;
}
.red-img2{
    background-image: url('../images/tv.jpg');
    background-size:140%;
    background-position: 50% 50%;
}
.red-img3{
    background-image: url("../images/a1573f86-ac7a-41c3-b60d-955297f6faa6.c10.jpg");
    background-size:150%;
    background-position: 100% 70%;
}
#redheads-redirect-button{
    margin-top:10px;
    margin-bottom:10px;
    background-color:red;
    border-radius: 0px;
    color:white;
    font-family: sans-serif;
}
#redheads-redirect-button a{
    text-decoration: none;
    color:white;
}
#redheads-redirect-button:hover{
    background-color: rgb(179, 1, 1);
}
.redheads-banner{
    z-index:5;
    width:100%;
    text-align: center;
    padding-bottom:10px;
    padding-top:10px;
    position:absolute;
    bottom:2%;
    background-color:rgba(0,0,0,.9)
}
.redheads-info{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom:40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:22px;
}
.redheads-info p{
    padding-bottom:5px;
    padding-top:5px;
}
.redheads-info h1{
    color: red;
    font-size:35px;
    border-bottom:1px solid white;
    width:40%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15px;
    padding-bottom:5px;
}
.redheads-right{
    padding-bottom:10px;
    padding-top:10px;
    font-size:28px;
}
.redheads-right p{
    padding-top:10px;
    padding-bottom:10px;
}

.hightide{
    color:#00d7ff;
    font-family: 'minya_nouvelleregular',sans-serif;
    font-size:30px;
}
.contact-container{
    display:flex;
    justify-content: space-between;
    border-top:2px solid #283234;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom:2px solid #283234;
    align-items: center;
}
.contact-left{
    display:flex;
    align-items: center;
    width:45%;
    height:600px;
}
iframe{
    height:100%;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);=
}
.contact-right{
    width:50%;
    text-align: center;
    font-size:50px;
    color:white;
    border-radius: 5%;
    font-family: 'minya_nouvelleregular',sans-serif;
    background-color: rgba(30,30,30,.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
.contact-header{
    display:flex;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom:1px solid gray;
    justify-content: center;
    align-items: center;
}
.contact-right img{
    padding-right:20px;
    height:110px;
}
.contact-form{
    margin-left:auto;
    margin-right:auto;
    width:80%;
    display:flex;
    flex-direction: column;
    text-align: left;
}
.contact-form label, .contact-form input{
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:5px;
    margin-top:5px;
}
.contact-form label{
    font-size:35px;
    margin-top:10px;
}
.contact-form input,.contact-form textarea{
    border-radius: 5px;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:18px;
    font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
    font-style: italic;
}
button{
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    margin-bottom:40px;
    width:40%;
    border:none;
    border-radius: 5px;
    background-color:#008CBA;
    /* border:2px solid #008CBA; */
    color:white;
    font-family:Helvetica,'minya_nouvelleregular',sans-serif;
    font-size:25px;
    padding-top:5px;
    padding-bottom:5px;
    /* font-weight: bold; */
    cursor:pointer;
}
button:hover{
    background:rgb(0, 108, 145);
}
textarea{
    height:180px;
    resize:none;
}
